.homepage {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-primary);

  box-sizing: border-box;
  padding: 40px;

  &__title {
    color: var(--color-white);
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
}

.card {
  background-color: var(--color-white);
  height: fit-content;
  border-radius: 4px;
  padding: 20px;
}

.link {
  margin-top: 30px;
}
